helmDefaults:
  skipRefresh: true


repositories:
  - name: ingress-nginx
    url: https://kubernetes.github.io/ingress-nginx

  - name: external-dns
    url: https://kubernetes-sigs.github.io/external-dns

  - name: jetstack
    url: https://charts.jetstack.io

  - name: argo
    url: https://argoproj.github.io/argo-helm

  - name: prometheus-community
    url: https://prometheus-community.github.io/helm-charts

releases:
  # 1. ingress-nginx
  - name: ingress-nginx
    namespace: nginx
    createNamespace: true
    chart: ingress-nginx/ingress-nginx
    version: 4.10.1
    wait: true

  # 2. cert-manager (CRDs + controller)
  - name: cert-manager
    namespace: cert-manager
    createNamespace: true
    chart: jetstack/cert-manager
    version: v1.15.3
    values:
      - installCRDs: true
    wait: true
    needs:
      - nginx/ingress-nginx

  # 3. external-dns
  - name: external-dns
    namespace: external-dns
    createNamespace: true
    chart: external-dns/external-dns
    version: 1.14.5
    values:
      - helm-values/externaldns-values.yaml
    wait: true
    needs:
      - nginx/ingress-nginx

  # 4. Argo CD
  - name: argocd
    namespace: argo
    createNamespace: true
    chart: argo/argo-cd
    version: 7.7.3
    wait: true
    needs:
      - nginx/ingress-nginx

  # 5. Prometheus
  - name: prometheus
    namespace: monitoring
    createNamespace: true
    chart: prometheus-community/kube-prometheus-stack
    version: 80.2.1
    wait: true
    needs:
      - nginx/ingress-nginx

  # 6. Grafana
  - name: grafana
    namespace: monitoring
    chart: grafana/grafana
    version: 8.6.0
    wait: true
    needs:
      - monitoring/prometheus
      - nginx/ingress-nginx


  # 7. Raw Kubernetes manifests (grouped by folders)
  - name: app-manifests
    namespace: default
    chart: ./charts/app
    wait: true
    needs:
      - nginx/ingress-nginx
      - cert-manager/cert-manager

  - name: argocd-manifests
    namespace: argo
    chart: ./charts/argocd
    wait: true
    needs:
      - argo/argocd

  - name: cert-manager-manifests
    namespace: cert-manager
    chart: ./charts/cert-issuer
    wait: true
    needs:
      - cert-manager/cert-manager

  - name: grafana-manifest
    namespace: monitoring
    chart: ./charts/grafana
    wait: true
    needs:
      - monitoring/grafana
  
  - name: prometheus-manifest
    namespace: monitoring
    chart: ./charts/prometheus
    wait: true
    needs:
      - monitoring/prometheus