name: checkout Terraform code 

on: 
  push:
    paths:
      - "**/*.tf"

jobs:
  terraform-check:
    name: Terraform check
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./Terraform

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{secrets.AWS_REGION}}
            
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.5
      - name: initialise terraform
        run: terraform init


# Implement Checkov scanning for security vulnerabilities

      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Test with Checkov
        id: checkov
        uses: bridgecrewio/checkov-action@master
        with:
          directory: ./Terraform
          framework: terraform 

      - name: Terraform fmt
        run: terraform fmt
      - name: Terraform plan
        run: terraform plan

